<%= form_tag sessions_path do |f| %>
  <p>
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= text_field_tag :password %>
  </p>

  <p>
    <%= submit_tag "Sign in" %>
  </p>

<% end %>