


<% if current_user.surveyed %>

<h1>Welcome <%= @user.name %>!</h1>

<%= link_to 'Start Writing!', new_article_path %>
<br><br>

<div class="current-week">
<h4>Current Week's Entries</h4>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>
<% if current_user.articles %> 
<% week_begin = Date.today.at_beginning_of_week %>
<% week_end = Date.today.at_end_of_week %>
<% count = 0 %>
<% current_user.articles.reverse_each do |article| %>
    <% if (article.created_at >= week_begin) %>
       <% if article.text.split.size >= current_user.word_count.to_i %>
        <% count += 1 %>
       <% end %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.created_at %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
 <% end %> 
<% end %>
</table>
</div> s


<div class="shaming">
<h4>Shaming Status</h4>
<br>
<% if count >= 5 %>
  <h6><% You have completed all of your entries this week! %></h6>
<% else %>
<h6>You have completed <%= count %> of 5 entries this week!</h6>
<% end %>
</div>


<div class="previous-week">
<h4>Previous Week's Entries</h4>
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>
<% if current_user.articles %> 
<% current_user.articles.reverse_each do |article| %>
  <% if article.created_at < week_begin %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.created_at%></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
 <% end %> 
<% end %>
</table>
</div>

<% else %>
<h1>Thanks for signing up!</h1>
<h2>We just have a few questions:</h2>

<%= render partial: 'survey' %>

<% end %>